<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/datetime/jquery.datetimepicker.css}"/>
</head>
<body>
    EDIT/NEW
    
    <form action="subscribe.html" name="event" data-th-attr="action=@{/event/save}" method="post">
   	 	<fieldset>
	    	<input type="hidden" name="id" data-th-value="${event.id}"/> <br/>
	    	Title:<input type="text" name="title" data-th-value="${event.title}"/>  <br/>
	    	<span th:if="${#fields.hasErrors('event.title')}" th:errors="*{event.title}">Error</span> <br/>
	    	Location:<input type="text" name="location" data-th-value="${event.location}"/> <br/>
	    	Description: <textarea name="description" rows="10" cols="80" data-th-value="${event.description}"> description </textarea> <br/>
	    	<input id="startTime" type="text" name="startTime" data-th-value="${#dates.format(event.startTime,'dd-MM-yyyy HH:mm')}"/> <br/>
	    	<input type="submit" value="Save!" th:value="#{event.submit}"/>
    	</fieldset>
    </form>
</body>
<script type="text/javascript" data-th-src="@{/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" data-th-src="@{/js/datetime/jquery.datetimepicker.min.js}"></script>
<script type="text/javascript">
$(function() {
	var calendarConfig = {
		 	format:'d-m-Y H:i'
	 };
	 
    $('#startTime').datetimepicker(calendarConfig);
});
</script>
</html>
