<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div class="content bootstrap" layout:fragment="content">
		<div class="wrapper">
			<h2><a href="#" data-th-href="@{/}" style="color: #f9a703;">Java Beer Events</a> <a data-th-if="${#authorization.expression('hasAuthority(''ORGANIZER'')')}" href="#" data-th-href="@{'/event/new/'}">(Add New Event)</a></h2>
			<div class="entry" data-th-if="${isNew}">
				<div class="user mobile-hide">
					<a href="#"> <img data-th-src="@{/images/nayden-gochev.jpg}" src="../static/images/nayden-gochev.jpg"
						alt="user-picture">
						<p class="name">Nayden Gochev</p>
					</a>
				</div>
				<div class="post">
					<form action="subscribe.html" name="event" data-th-attr="action=@{/event/save}" method="post">
				   	 	<fieldset>
					    	<input type="hidden" name="id" data-th-value="${event.id}"/> <br/>
					    	Title:<br/><input type="text" name="title" data-th-value="${event.title}"/>  <br/>
					    	<span th:if="${#fields.hasErrors('event.title')}" th:errors="*{event.title}">Error</span> <br/>
					    	Location:<br/><input type="text" name="location" data-th-value="${event.location}"/> <br/>
					    	(the location should be written in a google maps frienldy way e.g. "Sredna Gora 70, Sofia, Bulgaria") <br/>
					    	Description: <br/><textarea name="description" rows="10" cols="80" data-th-value="${event.description}"> </textarea> <br/> 
					    	(Write the sponsor information inside the description for now)<br/>
					    	Date & Time:<br/> <input id="startTime" type="text" name="startTime" data-th-value="${#dates.format(event.startTime,'dd-MM-yyyy HH:mm')}"/> <br/>
					    	<input type="submit" value="Save!" th:value="#{event.submit}"/>
				    	</fieldset>
				    </form>
				</div>
			</div>
			<div class="entry" data-th-each="ievent, status : ${page.content}">
				<div class="user mobile-hide">
					<a href="#"> <img data-th-src="@{/images/nayden-gochev.jpg}" src="../static/images/nayden-gochev.jpg"
						alt="user-picture">
						<p class="name">Nayden Gochev</p>
					</a>
				</div>
				<div class="post" data-th-if="${event == null or ievent.id != event.id}">
					<h3 data-th-text="${ievent.title}">Post Title</h3>
					<div class="admin-buttons" data-th-if="${#authorization.expression('hasAuthority(''ORGANIZER'')')}">
						<a href="#" data-th-href="@{'/event/edit/'+${ievent.id}}">edit</a> <a href="#" data-th-href="@{'/event/delete/'+${ievent.id}}">delete</a>
					</div>
					<div class="user desktop-hide">
						<a href="#"> <img data-th-src="@{/images/nayden-gochev.jpg}" src="../static/images/nayden-gochev.jpg"
							alt="user-picture">
							<p class="name">Nayden Gochev</p>
						</a>
					</div>
					<div class="post-content">
						<p><span class="label">Where:</span> <span data-th-text="${ievent.location}">Sofia Bulgaria.</span></p>
						<p><span class="label">When:</span> <span data-th-text="${#dates.format(ievent.startTime,'dd MMMM yyyy ''@'' HH:mm')}">17:55 on 01 June 2016</span></p>
						<p><span class="label">Description:</span> <span data-th-text="${ievent.description}"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia repellat, vitae id sit! Iste, nesciunt
							voluptates architecto aperiam laborum, inventore dolorem reiciendis. Ab ullam repellendus, labore, exercitationem
							fugiat velit ducimus.</span></p>
						
						<div data-th-if="${page.totalElements == 1}" style="text-decoration:none; overflow:hidden; height:500px; width:5000px; max-width:100%;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Sofia,+България&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" data-th-src="@{'https://www.google.com/maps/embed/v1/place?q='+${ievent.location}+'&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU'}"></iframe></div><a class="google-maps-html" href="http://www.dog-checks.com" id="authorize-maps-data">dog checks</a><style>#my-map-display img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.dog-checks.com/google-maps-authorization.js?id=4cde2364-9fa0-917f-b90c-9f51b72c4d13&c=google-maps-html&u=1470837693" defer="defer" async="async"></script>

					</div>
					<div class="admin-buttons" data-th-if="${page.totalElements > 1}">
						<a href="#" data-th-href="@{'/event/view/'+${ievent.id}}">More Details</a>
					</div>
					<div class="admin-buttons" data-th-if="${page.totalElements == 1}">
						<a href="javascript:var%20d=document,f='http://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1273839345&u='+e(l.href)+'&t='+e(d.title);1;try{if%20(!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z)%20{a=function()%20{if%20(!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if%20(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0)" >share on facebook</a>
						<a href="javascript:%28function%28%29%7Bwindow.twttr%3Dwindow.twttr%7C%7C%7B%7D%3Bvar D%3D550%2CA%3D450%2CC%3Dscreen.height%2CB%3Dscreen.width%2CH%3DMath.round%28%28B%2F2%29-%28D%2F2%29%29%2CG%3D0%2CF%3Ddocument%2CE%3Bif%28C>A%29%7BG%3DMath.round%28%28C%2F2%29-%28A%2F2%29%29%7Dwindow.twttr.shareWin%3Dwindow.open%28%27https%3A%2F%2Ftwitter.com%2Fshare%27%2C%27%27%2C%27left%3D%27%2BH%2B%27%2Ctop%3D%27%2BG%2B%27%2Cwidth%3D%27%2BD%2B%27%2Cheight%3D%27%2BA%2B%27%2Cpersonalbar%3D0%2Ctoolbar%3D0%2Cscrollbars%3D1%2Cresizable%3D1%27%29%3BE%3DF.createElement%28%27script%27%29%3BE.src%3D%27https%3A%2F%2Fplatform.twitter.com%2Fbookmarklets%2Fshare.js%3Fv%3D1%27%3BF.getElementsByTagName%28%27head%27%29%5B0%5D.appendChild%28E%29%7D%28%29%29%3B">Share on Twitter</a>
					</div>
					<p>
					&nbsp;
					</p>
				</div>
				<div class="post" data-th-if="${event != null and ievent.id == event.id}">
					<h3 data-th-text="${event.title}">Edit Event</h3>
					<form action="subscribe.html" name="event" data-th-attr="action=@{/event/save}" method="post">
				   	 	<fieldset>
					    	<input type="hidden" name="id" data-th-value="${event.id}"/> <br/>
					    	New Title:<br/><input type="text" name="title" data-th-value="${event.title}"/>  <br/>
					    	<span th:if="${#fields.hasErrors('event.title')}" th:errors="*{event.title}">Error</span> <br/>
					    	New Location:<br/><input type="text" name="location" data-th-value="${event.location}"/> <br/>
					    	(the location should be written in a google maps frienldy way e.g. "Sredna Gora 70, Sofia, Bulgaria") <br/>
					    	New Description: <br/><textarea name="description" rows="10" cols="80" data-th-value="${event.description}"> </textarea> <br/> 
					    	(Write the sponsor information inside the description for now)<br/>
					    	New Date & Time:<br/> <input id="startTime" type="text" name="startTime" data-th-value="${#dates.format(event.startTime,'dd-MM-yyyy HH:mm')}"/> <br/>
					    	<input type="submit" value="Save!" th:value="#{event.submit}"/>
				    	</fieldset>
				    </form>
				</div>
			</div>
		</div>
		<div style="margin-bottom: 20px;margin-left: 20px">Powered by the <a href="http://jug.bg" target="_blank">Bulgarian Java User Group <img style="margin-bottom: -15px;" src="http://jug.bg/wp-content/uploads/2016/06/JUG-LOGO-web-e1466341054721.png"/></a> 
		</div>
	</div>
</body>