<!DOCTYPE HTML>
<body layout:decorator="layout">
    <p th:text="'Hello, ' + ${name} + '!'" />
    
   	<div data-th-each="event, status : ${page.content}">
   		<div data-th-text="${status.count}">Counter</div>
     	<div data-th-text="${event.title}">Event title</div>
     	<div data-th-text="${event.location}">Event Location</div>
     	<div data-th-text="${#dates.format(event.startTime,'HH:mm ''on'' dd MMMM yyyy')}">Event StartTime</div>
     	<div data-th-text="${event.description}">Event Description</div>
     	<!-- <div th:if="${#authorization.expression('hasAuthority(''ORGANIZER'')')}"> -->
     		<span><a href="edit.html" data-th-href="@{'/event/edit/'+${event.id}}">edit</a></span>
     		<span><a href="home.html" data-th-href="@{'/event/delete/'+${event.id}}">delete</a></span>
     		<span><a href="login.html">login</a></span>
     		<span><a href="registration.html">registration</a></span>
     	<!-- </div> -->
     </div>
</body>
